<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  
  <title>Gage Cates</title>
</head>
<body>
  <section id='home-section'>
    <div id='navbar-container'>
      <ul id='nav-items'>
        <li>Home</li>
        <li>About</li>
        <li>Work</li>
        <li>Skills</li>
        <li>Contact</li>
      </ul>
      <h1>Gage Cates</h1>
    </div>
  </section>

  <section id='about-section'>
    <h2 class='section-header'>About</h2>
    <h4>Me, Myself and I</h4>
    <p class ='intro'>
      Learning web development was definately my light bulb moment.<br>
      I am an extremely inspired full stack developer
      eager to test my potential.<br>
      Front end, back end, you name it. As long as I am coding, I am a happy camper.<br><br>
      Enough of the small talk, <div class='page-jump' dest='contact'>Let's create something great!</div>
      
      
    </p>
  </section>

  <section id='work-section'>
    <h2 class='section-header'>Work</h2>
      <h4>Projects</h4>
      <div id='projects-container'>
        <div id='project1'>
          <img class='project-image' src="src/client/pics/where-to/homepage.png"></img>
        </div>

        <div id='project2'>
          <img class='project-image'></img>
        </div>

        <div id='project3'>
          <img class='project-image'></img>
        </div>

        <div id='project4'>
          <img class='project-image'></img>
        </div>

        <div id='project5'>
          <img class='project-image'></img>
        </div>

    </div>
  </section>

  <section id='skills-section'>
    <h2 class='section-header'>Skills</h2>
  </section>

  <section id='contact-section'>
    <h2 class='section-header'>Contact</h2>
  </section>

  <div id='footer'>
    <div class="flex-center">
      <i class="fa fa-github fa-4x icon-3d"></i>
      <i class="fa fa-twitter fa-4x icon-3d"></i>
      <i class="fa fa-facebook fa-4x icon-3d"></i>
      <i class="fa fa-instagram fa-4x icon-3d"></i>
    </div>
  </div>

    
  </div>
</body>

