.Modal {
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 9999;
    width: 100%;
    height: 90%;
    padding-top: 100px;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-transition: 5s;
    overflow: auto;
    transition: all 5s linear;
  }
  
.Modal-content {
    text-align: left;
    background-color: #fefefe;
    margin: auto;
    border-radius: 5px;
    max-width: 850px;
    height: 850px;
}
  
.ModalOpen { 
      overflow: hidden; 
}
  
.is-hidden { 
    display: none; 
}
  
.is-visuallyHidden { 
    opacity: 0; 
}

.Close {
    color: #aaaaaa;
    float: right;
    font-size: 30px;
    width: 30px;
    text-align: center;
  }
  
.Close:hover, .Close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.is-blurred {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

.project-pic-container{
    position:relative;
    height: 250px;
    width: 250px;
    transition: 3s;
}

.project-pic-container:hover .overlay{
    opacity: 1;
}

.project-image{
    display: block;
    width: 100%;
    height: 100%;
}

#all-projects-container{
    position: absolute;
    top: 200px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 90%;
}

.overlay {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 1s ease;
    background-color: #008CBA;
}

.overlay-button{
    padding: 5%;
    font-size: 12pt;
    border-radius: 5px;
    background-color: white;
    border: 2px solid white;
}

.overlay-button:hover{
    padding: 5%;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

#project1 .overlay{
    background-color: #008CBA;
    p{
        color: white;
    }
}

#project2 .overlay{
    background-color: rgb(209, 198, 209);
    p{
        color: red;
    }
}

#project3 .overlay{
    background-color: rgb(118, 179, 40);
    p{
        color: white;
    }
}

#project4 .overlay{
    background-color: rgb(226, 189, 86);
    p{
        color: rgb(250, 2, 2);
    }
}

.modal-heading{
    font-size: 3vh;
}

.modal-picture-container{
    height: 70%;
    border-bottom: 10px solid black;
}

.modal-picture{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.modal-heading{
    padding-left: 5px;
    margin-bottom: 10px;
}

.modal-description{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30%;
    margin-left: 10px;
    margin-right: 10px;
    h4{
        border-bottom: 2px solid black;
        margin-bottom: 0;
        margin-top: 0;
    }
    p{
        font-size: 12pt;
        margin-top: 0;
        margin-bottom: 0;
    }

    font-size: 15pt;
}

.modal-links-container{
    text-align: center;
    a{
        padding-right: 20px;
        text-decoration: none;
    }
}

.modal-link-btn{
    border: 1px solid black;
    display: inline;
    font-size: 1.5vh;
    padding: 7px;
    width: 15vw;
    margin-top: 0;
    color: white;
    text-decoration: none;
    background-color: black;
}

.modal-link-btn:hover{
    color: black;
    background-color: white;
    transition-duration: 1s;
}

.slide-left{
    margin-right: 250px;
}

.slide-right{
    margin-left: 250px;
}