$yellowLight: rgb(235, 196, 114);

section{
    display: flex;
    height: fit-content;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    padding-top: 100px;
    scroll-behavior: smooth;
}

// box element centered in middle of sections used to determine section in view
.section-in-viewport{
    position: absolute;
    height: 10vh;
    width: 10vw;
    left: 40%;
    top: 40%;
}

.section-header{
    font-size: 25pt;
    width: 20%;
    text-align: left;
    vertical-align: top;
    margin-top: 1vh;
    margin-bottom: 0;
    padding-left: 2vw;
}

.section-container{
    font-size: 13pt;
    width: 90%;
    //border: 1px solid red;
}

#home-section{
    min-height: 100vh;
    background-image: url("../assets/images/lightbulb.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: black;
    background-blend-mode: exclusion;
    width: 100vw;
    position: relative;
    left: calc(-50vw + 50%);
    border-top: none;
    height: 100vh;
}

#about-section{
    min-height: 85vh;
    h2{
        width: 100%;
        border-top: .05em solid rgb(2, 0, 0);
        margin-right: auto;
        text-align: left;
        padding-left: 1vw;
        
    }
    color:rgb(2, 0, 0);
}

#work-section{
    min-height: 120vh;
    h2{
        width: 100%;
        border-top: .05em solid black;
        margin-left: auto;
        text-align: right;
        padding-right: 1vw;
        margin-bottom: 10vh;
    }
    color: black;
}

#skills-section{
    min-height: 100vh;
    h2{
        width: 100%;
        overflow: auto;
        border-top: .05em solid $yellowLight;
        margin-right: auto;
        text-align: left;
        padding-left: 1vw;
    }
    h4{
        padding-bottom: 1vh;
    }
    color:$yellowLight;
}

#contact-section{
    min-height: 80vh;
    h2{
        width: 100%;
        border-top: .05em solid $yellowLight;
        margin-left: auto;
        text-align: right;
        padding-right: 1vw;
    }
    color:$yellowLight;
}

#contact-section-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}