#skills-icons-container{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 90%;
    margin-bottom: 3vh;
    
}

@keyframes float {
	0% {
		box-shadow: 0 3px 15px 0px rgba(235, 196, 114, 0.6);
		transform: translatey(0px);
	}
	50% {
		box-shadow: 0 10px 15px 0px rgba(235, 196, 114, 0.6);
		transform: translatey(-20px);
	}
	100% {
		box-shadow: 0 3px 15px 0px rgba(235, 196, 114, 0.6);
		transform: translatey(0px);
	}
}

.skills-icon {
	width: 4.5em;
	height: 4.5em;
	box-sizing: border-box;
	overflow: hidden;
	box-shadow: 0 3px 15px 0px rgba(235, 196, 114, 0.6);
    border-radius: 50%;
	transform: translatey(0px);
	//animation: float 5s ease-in-out infinite;
}

#HTML{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0,1,0.58,1);
}
#CSS{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.08,1,0.58,1);
}
#Sass{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.16,1,0.58,1);
}
#Bootstrap{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.24,1,0.58,1);
}
#Javascript{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.32,1,0.58,1);
}
#Node{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.4,1,0.58,1);
}
#React{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.48,1,0.58,1);
}
#Redux{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.56,1,0.58,1);
}
#Postgres{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.63,1,0.58,1);
}
#Python{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.71,1,0.58,1);
}
#Flask{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.79,1,0.58,1);
}
#Webpack{
    animation: float 3s  infinite;
    animation-timing-function: cubic-bezier(0.87,1,0.58,1);
}

#skill-explain-container{
    font-size: 2.5vh;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-wrap:wrap;
    height: 10%;
}
